/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Merriweather:wght@400;700&display=swap"); */

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #ff3d00;
}

.render__buttons--container {
  min-height: 100px;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.render__buttons--container button {
  padding: 1rem 2rem;
  background: none;
  border: 1px solid #999;
  font-family: "Merriweather", serif;
  font-weight: 700;
  border-radius: 5px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  position: relative;
  transition: all 1s;
  cursor: pointer;
  overflow: hidden;
  color: #0d1217;
  z-index: 1;
  font-family: "Merriweather", serif;
}

.render__buttons--container button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: -100%;
  background: #80bceb;
  z-index: -1;
  transition: all 0.5s;
}

.render__buttons--container button:hover {
  color: #fff;
  border: 1px solid #80bceb;
}

.render__buttons--container button:hover::before {
  left: 0;
}

.active {
  background: #999;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

.details {
  position: absolute;
  left: 20px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  width: 85%;
  font-family: "Merriweather", serif;
}

.socials {
  display: flex;
  gap: 2rem;
}

.socials a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.4rem;
  transition: all ease-in 0.3s;
}

.socials a:hover {
  color: #80bceb;
  transform: translateY(-2px);
}

.username {
  color: var(--color-primary);
  font-size: 1.4rem;
  text-transform: capitalize;
}

.username span {
  font-weight: 700;
}
