@import url("../../App.css");

.intro__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 2rem;
  line-height: 2.5;
  font-family: "Merriweather", serif;
  color: var(--color-primary);
}

.intro__text h1 {
  font-size: 5rem;
  animation-name: gallery-header;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  /* animation-iteration-count: infinite; */
  /* animation: bounce 1s ease-in-out infinite;
  transform-style: preserve-3d;
  transform-origin: bottom;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); */
  /* text-shadow: 0 1px 0 #efefef, 0 1px 0 #efefef, 0 1px 0 #efefef,
    0 1px 0 #efefef, 0 30px 5px rgba(0, 0, 0, 0.1); */
  /* animation-name: bounce;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;

} */
  /* animation: bounce 1s ease-in-out infinite; */
  /* animation: mesmerize 8s ease-in-out infinite; */
}

@keyframes gallery-header {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes gallery-p {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes pulsing-animation {
  0% {
    color: var(--color-primary); /* starting color */
  }
  50% {
    color: var(--color-secondary); /* halfway color */
  }
  100% {
    color: var(--color-primary); /* ending color */
  }
}

.intro__text span {
  font-family: "Dancing Script", cursive;
  animation-name: pulsing-animation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 3s; /* delay until after the initial animation finishes */
  animation-iteration-count: infinite;
}
.intro__text p {
  font-size: 3rem;
  animation-name: gallery-p;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 900px) {
  .intro__text h1 {
    font-size: 3.5rem;
  }

  .intro__text p {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .intro__text h1 {
    font-size: 2.75rem;
  }

  .intro__text p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 350px) {
  .intro__text h1 {
    font-size: 2.25rem;
  }

  .intro__text p {
    font-size: 1.2rem;
  }
}
