.render__buttons--container {
  border: 2px solid red;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.render__buttons--container button {
  padding: 1rem 2rem;
  background: none;
  border: 1.5px solid #999;
  font-family: "Merriweather", serif;
  font-weight: 700;
  border-radius: 5px;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
