@import url("../../App.css");

.footer {
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  left: 0;
  /* border: 2px solid blue; */
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Merriweather", serif;
  background: var(--light-primary);
  /* border: 1px dashed #999; */
}

.footer-bio {
  line-height: 2;
  color: var(--color-primary);
}

.footer-bio span {
  font-size: 1.4rem;
  font-weight: 700;
}
.footer-bio p {
  font-size: 1.1rem;
}

.footer-socials {
  display: flex;
  gap: 2rem;
}

.footer-socials a {
  color: #0d1217;
  text-decoration: none;
  font-size: 2rem;
  transition: all ease-in 0.3s;
  color: var(--color-primary);
}

.footer-socials a:hover {
  transform: translateY(-1rem);
  color: var(--color-secondary);
}
