.masonry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  border: 2px solid green;
  padding: 2rem;
  overflow: hidden;
  height: auto;
  /* max-width: 1200px;
  margin: 0 auto; */
}

.masonry-grid-item {
  padding: 1rem;
  /* border: 2px solid rgb(128, 38, 0); */
  overflow: hidden;
  height: auto;
  max-height: 600px;
  /* width: fit-content; */
  /* max-width: 550px; */
}

.masonry-grid-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
  display: block;
}

/* .masonry-grid-item:before {
  content: "";
  display: block;
  padding-top: calc(100% / 1.5);
} */

/* @media only screen and (max-width: 768px) {
  .masonry-grid-item:nth-child(2n) {
    grid-row-start: span 2;
  }
} */

@media only screen and (max-width: 767px) {
  .masonry-grid {
    grid-template-columns: 1fr;
  }

  .masonry-grid-item:nth-child(2n) {
    grid-row-start: span 2;
  }

  .masonry-grid-item:nth-child(3n) {
    grid-row-start: auto;
  }

  .masonry-grid-item:nth-child(4n) {
    grid-row-start: auto;
  }
}
