:root {
  --light-primary: #fff;
  --color-primary: #0d1217;
  --color-secondary: #80bceb;
  transition: all ease-in 0.3s;
}
.darkmode {
  --light-primary: #0d1217;
  --color-primary: #fff;
  transition: all ease-in 0.3s;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 2px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f8f8f8;
}
.App {
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  /* border: 2px solid red; */
  background: var(--light-primary);
}

/* Pexels Key vObntOiWdHqko9u1qXFy23w0wNw7UwbqpcqkdscTNGjAUrlkPVYJp7Vr */
/* // const API_KEY =
        //   "vObntOiWdHqko9u1qXFy23w0wNw7UwbqpcqkdscTNGjAUrlkPVYJp7Vr";
        // const category = "cats";

        // const url = `https://api.pexels.com/v1?query=${category}&per_page=9`;

        // const response2 = fetch(url, {
        //   headers: {
        //     Authorization: API_KEY,
        //   },
        // }); */

/* Unsplash:  // const response = await fetch(
        //   `https://api.unsplash.com/photos/random?count=12&client_id=ovS3DUChaQ0h3LQ1TT4_jpAl43VrMZCRFZcs2aLmILw&query=${searchQuery}`
        // );
 */

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Merriweather:wght@400;700&display=swap");

@media only screen and (max-width: 767px) {
  html {
    /* 9px per rem */
    font-size: 56.25%;
  }
  .logo {
    font-size: 2.25rem;
  }

  .masonry-grid-item:nth-child(2n) {
    grid-row-start: span 2;
  }

  .masonry-grid-item:nth-child(3n) {
    grid-row-start: auto;
  }

  .masonry-grid-item:nth-child(4n) {
    grid-row-start: auto;
  }
}

@media (max-width: 500px) {
  html {
    /* 8px per rem */
    font-size: 50%;
  }
  .theme--switch {
    position: fixed;
    top: 90vh;
    left: 50%;
    width: 100%;
    max-width: 50px;
    height: 100%;
    border-radius: 50%;
    max-height: 50px;
    text-align: center;
    margin-top: -4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-primary);
    transform: translateX(-50%);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 400px) {
  html {
    /* 7px per rem */
    font-size: 43.75%;
  }
}

@media (max-width: 300px) {
  html {
    /* 6px per rem */
    font-size: 37.5%;
  }

  .search__form {
    max-width: 42.5rem;
  }
}
